header, footer {
    // display: flex;
    // justify-content: space-between;
    padding: 2em;

    .logo {
        // color: #00F7FF;
        color: #F09F2D;
        font-weight: bold;
        font-size: 1.75em;
        text-decoration: none;
        letter-spacing: 0.2em;
    }

    ul {
        display: flex;
        justify-content: space-around;

        a {
            display: block;
            padding-right: 1em;
            font-size: 1.5em;
            margin-top: .3em;
        }

        a:hover, i:hover {
          color: #F09F2D;
          text-decoration: none;
        }
    }

}

footer .logo {
  padding-top: 0.5em;
  display: none;
}

header ul {
  display: none;
}

.nav-container {
    // background: #263547;
    // background: linear-gradient(217deg, rgba(18,33,51,.9), rgba(8,33,151,.9) 70.71%),
    //         linear-gradient(127deg, rgba(38,53,71,.9), rgba(38,53,71,.9) 70.71%),
    //         linear-gradient(336deg, rgba(58,73,191,.8), rgba(58,73,191,.8) 70.71%);
    background: linear-gradient(rgba(18,33,51,.9), rgba(38,53,71,.9));
    a, i {
        color: white;
    }

}

.social-header {

  i {
    color: black;
    font-size: 2em;
  }

  i:hover {
      color: #048BA8;
    }

  h2 {
    padding-top: 0.4em;
  }
}
.social-header, .hero-design {
    display: none;
}
