.hero {
    // background: #048BA8;


    background: linear-gradient(127deg,rgba(4,119,168,.99), rgba(14,145,178,.99), rgba(24,149,188,.99));

    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.portrait {
  object-fit: cover;
  border-radius: 1em;

}

.content p {
  font-size: 1.6em;
  font-family: 'Poppins', arial;
}
