// Import page-specific CSS files here.


body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

i {
  color: black;
  font-size: 2em;
  margin-left: 1em;
}

img {
  border-radius: 1em;
}

h1 , h2 {
  font-family: 'Poppins', arial;
}
img {width: 100%;}

.nav-container {
    // background: #6700EE;
    background: #048BA8;

    a, i {
        color: white;
    }

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #00F7FF;
        font-weight: bold;
        font-size: 2em;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
            font-size: 1.5em;
            margin-top: .3em;
        }
    }

}

.social-header {

  i {
    color: black;
  }

  i:hover {
      color: #EB60CA;
    }
}
.social-header, .hero-design {
    display: none;
}

.hero {
    // background: #6E00FF;
    background: #048BA8;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;

    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

.portrait {
  height: 25em;
  width: 25em;
  object-fit: cover;
  border-radius: 1em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // background: #E5D5FA;
    background: #F4B966;
    top: 0;
    left: 0;
    z-index: -1;
}

#websites-tag {
  color: #F4F4F4;
  margin-bottom: 1.5em;
}
.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    // color:  #6E00FF;
    color:  #F09F2D;
    letter-spacing: .2em;
    font-size: .85em;
}

.about {
  font-size: 2em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
    font-family: 'Poppins', arial;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    // background: #FF64CB;
    background: #26C4CF;
}

.skills-container ul li {

    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        img {
          margin-bottom: 24px;
          box-shadow: 0 0 1.4px 0.01px;
          border: 1px solid rgba(0,0,0,0.2);


        }

        &.one {
            width: 200px;
        }
        &.two {
            width: 200px;
        }
        &.three {
            width: 200px;
        }
    }

    .skill-title {
        font-weight: bold;
        margin: 12px 0;
        font-family: 'Poppins', arial;
        color: #7450FC;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  i {
    margin: 8px;
  }
}

.portfolio {
    background: #F7F7F7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {

    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
        border-radius: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }

}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            // background:  #6700EE;
            background: #263547;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 20px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            // background: #6E00FF;
            background: #048BA8;
            padding: 6em 8em 6em 4em;
            text-align: left;
            border-radius: 0 0 1em 0;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .icon-container {
        position: relative;

        img {
          position: absolute;
          width: 150%;
          margin-bottom: 24px;
          top: -50px;
          right: -50px;

        }
      }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}



.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    to {
        transform: translate(262px, 830px);
    }
}
