   <section class="featured">
        <div class="left">
            <div class="inner transition2">
                <p class="subtitle about" id= "about-tag">About Luke</p>

                <p class="featured-desc">A globally tested project manager and web developer serving in countries such as Japan, Thailand, Vietnam, Australia and the United Kingdom on projects utilizing traditional and agile methodologies. I now hope to take the skills I've acquired and apply them to the IT field in Japan.</p>
            </div>
        </div>
        <%= image_tag "Bangkok.jpg", alt: "alttext", class:"right transition2" %>

    </section>
